<app-header></app-header>
<div class="container mt-5">
    <div class="box-detail">
   
      
        <div class="row">
            <div class="card p-0">
                <div class="card-header">
                    <p>Book Detail</p>
                </div>
                
                <p>Book Title : {{bookdetail?.title}}</p>
                <p>Book author : {{bookdetail?.author}}</p>
                <p>Book description : {{bookdetail?.description}}</p>
                <p>Book isbn : {{bookdetail?.isbn}}</p>
                <p>Book Genre : {{bookdetail?.genre}}</p>
            </div>
        </div>
    </div>
    
</div>